<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="Viki.LoadRunner" version="0.8.3-alpha" targetFramework="net45" />
  <package id="Viki.LoadRunner.Tools" version="0.0.10-alpha" targetFramework="net45" />
</packages>