<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net45" />
  <package id="Viki.LoadRunner" version="0.8.41-beta" targetFramework="net45" />
  <package id="Viki.LoadRunner.Tools" version="0.8.37-alpha" targetFramework="net45" />
</packages>