<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="Viki.LoadRunner" version="0.8.83-beta" targetFramework="net472" />
  <package id="Viki.LoadRunner.Tools" version="0.8.49-alpha" targetFramework="net472" />
  <package id="Viki.LoadRunner.Tools.Legacy" version="0.8.52-beta" targetFramework="net472" />
</packages>